<%= stylesheet_pack_tag "homes/top"%>
<main>
<section class="header-bottom">
<p class="header-inner">
<span class="big-character">Port</span><span class="small-character">folioを</span><span class="big-character">Share</span><span class="small-character">しよう！</span>
</p>
</section>
<section class="description">
<h2 class="description-title text-center">Port-Shareとは</h2>
<p>Port-Shareは、code-ship受講生のポートフォリオ投稿・閲覧サイトです。</p>
<p>他の受講生がどんな作品を作っているのか参考にしたい！との思いから作成しました。</p>
<p>Port-Shareに上がっている作品を見て、インスピレーションを得たり、モチベーションにつなげてくれたら嬉しいです。</p>
</section>


<section class="container cards d-flex flex-column flex-lg-row">
<div class="card col-12 col-lg-4">
<%= image_pack_tag 'Mobile login-rafiki.png', size: '300x300', alt: '小見出し”まずは登録！”の画像です' %>

  <div class="card-body">
<h5 class="card-title text-center">まずは登録！</h5>
    <p class="card-text text-center">名前、メールアドレス、パスワードを入れて登録！リンクはこのページの右上にあるよ</p>

  </div>
</div>
<div class="card col-12 col-lg-4">
<%= image_pack_tag 'Design thinking-rafiki.png', size: '300x300', alt: '小見出し”インスピレーションを得よう！”の画像です' %>

  <div class="card-body">
<h5 class="card-title text-center">インスピレーションを得よう！</h5>
    <p class="card-text text-center">卒業制作なにを作ろう？・みんなどんなものを作っているのかな？・どれくらいのレベルの作品を作ればいいの？こんな時はPort-Shareを見て！</p>

  </div>
</div>
<div class="card col-12 col-lg-4">
<%= image_pack_tag 'At work-rafiki.png', size: '300x300', alt: '小見出し”投稿してみよう！”の画像です' %>

  <div class="card-body">
<h5 class="card-title text-center">投稿してみよう！</h5>
    <p class="card-text text-center">自分が作った作品を投稿してみよう！みんなに見てもらってフィードバックを得よう！</p>

  </div>
</div>

</section>

</main>
