<main>
<section>
<h2>Port-Shareとは</h2>
<p>Port-Shareは、一言で言うと卒業制作の閲覧サイトです。</p>
<p>卒業制作を作成するときに、他の受講生がどんなものを作っているのか参考にしたい！との思いから作成しました。</p>
<p>Port-Shareに上がっている作品を見て、インスピレーションを得たり、モチベーションにつながったりしてくれたら嬉しいです。</p>



</section>
</main>
