<%= stylesheet_pack_tag "homes/top"%>
<main>
<section class="header-nav">

</section>
<section class="description">
<h2>Port-Shareとは</h2>
<p>Port-Shareは、卒業制作の閲覧サイトです。</p>
<p>他の受講生がどんな作品を作っているのか参考にしたい！との思いから作成しました。</p>
<p>Port-Shareに上がっている作品を見て、インスピレーションを得たり、モチベーションに</p>
<p>
つなげてくれたら嬉しいです。</p>
</section>
<section class="contents">
<article class="content">
<div><img src="#" alt="画像です">
</div>
</article>

</section>
</main>

