<header>
  <h1>Port-Share</h1>
  <nav>
   <ul>

    <button class="btn"><li><%= link_to  "新規登録",root_path %></li></button>

    <button class="btn"><li><%= link_to  "ログイン", root_path %></li></button>

   </ul>
  </nav>
  </header>